<ion-header>
  <ion-toolbar>
    <ion-title>estadisticas</ion-title>
    <ion-icon
      name="power-outline"
      slot="end"
      size="large"
      class="ion-margin-end"
      (click)="cerrarSesion()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="datosFeas.length >0 && tipo === 'feas'">
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="datosFeas"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          height="400px"
        >
        </canvas>
      </div>
    </div>
  </div>
  <div *ngIf="tipo === 'lindas' && pieChartData.length > 0">
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          height="450px"
        >
        </canvas>
      </div>
    </div>
  </div>
  <ion-item lines="none" style="position: absolute; bottom: 0; width: 100%">
    <ion-label>Graficos</ion-label>
    <ion-select (ionChange)="elegirGrafico($event)" value="feas">
      <ion-select-option value="lindas">Fotos Lindas</ion-select-option>
      <ion-select-option value="feas">Fotos Feas</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/principal']">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/lindas']">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <ion-label>Lindas</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/feas']">
        <ion-icon name="thumbs-down-outline"></ion-icon>
        <ion-label>Feas</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/propias']">
        <ion-icon name="man-outline"></ion-icon>
        <ion-label>Propias</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/estadisticas']">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Estadistica</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
