<ion-app>
  <div class="container" [hidden]="!show">
    <h1 class="rotate-in-center">Nicolás Ferrero</h1>
    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 512 512"
      style="enable-background: new 0 0 512 512"
      xml:space="preserve"
    >
      <path
        style="fill: #f3705a"
        d="M295.467,25.6v157.867c0,13.867-11.733,25.6-25.6,25.6H134.4L34.133,261.333v-52.267H25.6
	c-13.867,0-25.6-11.733-25.6-25.6V25.6C0,11.733,11.733,0,25.6,0h245.333C284.8,0,295.467,11.733,295.467,25.6z"
      />
      <g>
        <circle style="fill: #ffffff" cx="69.333" cy="104.533" r="27.733" id="point1" />
        <circle style="fill: #ffffff" cx="148.267" cy="104.533" r="27.733" id="point2" />
        <circle style="fill: #ffffff" cx="227.2" cy="104.533" r="27.733" id="point3" />
      </g>
      <path
        style="fill: #ffd15c"
        d="M216.533,88.533v156.8c0,13.867,11.733,25.6,25.6,25.6h136.533L478.933,323.2v-52.267h7.467
	c13.867,0,25.6-11.733,25.6-25.6v-156.8c0-13.867-11.733-25.6-25.6-25.6H241.067C227.2,62.933,216.533,74.667,216.533,88.533z"
      />
      <g>
        <circle style="fill: #ffffff" cx="442.667" cy="167.467" r="27.733" id="point4" />
        <circle style="fill: #ffffff" cx="363.733" cy="167.467" r="27.733" id="point5" />
        <circle style="fill: #ffffff" cx="284.8" cy="167.467" r="27.733" id="point6" />
      </g>
      <path
        style="fill: #66c6b9"
        d="M371.2,277.333V435.2c0,13.867-11.733,25.6-25.6,25.6h-84.267l-38.4,51.2l-38.4-52.267h-83.2
	c-13.867,0-25.6-11.733-25.6-25.6v-156.8c0-13.867,11.733-25.6,25.6-25.6h245.333C360.533,251.733,371.2,263.467,371.2,277.333z"
      />
      <g>
        <circle style="fill: #ffffff" cx="301.867" cy="356.267" r="27.733" id="point7" />
        <circle style="fill: #ffffff" cx="224" cy="356.267" r="27.733" id="point8" />
        <circle style="fill: #ffffff" cx="145.067" cy="356.267" r="27.733" id="point9" />
      </g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
    </svg>

    <h1 class="rotate-in-center">División 4°A</h1>
  </div>
  <ion-router-outlet [hidden]="show"></ion-router-outlet>
</ion-app>
