@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

ion-label {
  display: flex !important;
  align-items: center;
}

ion-label ion-icon {
  height: 100%;
  margin-right: 5px;
}

*:not(ion-icon) {
  font-family: 'Oswald', sans-serif !important;
}

h1 {
  margin: 20px 20px;
  color: #000;
}

.bg {
  --ion-background-color: linear-gradient(to bottom, #ffffba, #e3e379, #eeee48);
}

.tool-bg {
  --background: #ffffba;
  --color: #000;
}

// .icon {
//   position: absolute;
//   top: 12%;
//   left: 7%;
//   font-size: 30px;
//   color: #000;
//   margin-right: 10px;
// }

// .input {
//   position: relative;
// }

// .input:hover {
//   .icon {
//     color: #ffffba;
//   }
// }

// .login {
//   background-color: #ffffba;
//   width: 100%;
//   position: absolute;
//   padding: 40px;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
//   border-top-left-radius: 100px;
//   border-bottom-right-radius: 100px;
// }

// .login [type='email'],
// .login input[type='password'] {
//   display: block;
//   margin: 20px auto;
//   padding: 10px 10px;
//   width: 250px;
//   background: none;
//   border: 2px solid #000;
//   border-radius: 15px;
//   transition: 0.5s;
//   outline-style: none;
// }

// .login input[type='email']:focus,
// .login input[type='password']:focus {
//   border-left: 40px solid #000;
// }

// .login input:valid[type='email'],
// .login input:valid[type='password'] {
//   border-left: 40px solid #000 !important;
// }

// .login input:valid[type='email'] + .icon,
// .login input:valid[type='password'] + .icon {
//   color: #ffffba !important;
// }

// .login input[type='button'] {
//   background: none;
//   border: 2px solid #000;
//   padding: 10px 10px;
//   width: 60%;
//   margin: 10px 10px;
//   border-radius: 15px;
//   transition: 0.6s;
//   outline-style: none;
//   color: #000;
// }

// .login input[type='button']:hover {
//   background-color: #000;
//   color: #ffffba;
// }
